form{
    width:25%;
    border:1px solid #cccccc;
    margin:20px;
    padding: 20px;
}

label{
    font-size: 12px;
    display:block;
    width: 100%;
}
textarea{
    overflow:initial;
}

input, textarea{
    margin-bottom:20px;
    width:100%;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    border:1px solid #ccc;
}

input:focus,textarea:focus{
 border:2px solid green;   
}

input[type="submit"]{
    margin-bottom: 0;
    background:blue;
    color:#fff;
    border:none;
}